html, body {
	font-family: "Helvetica Neue", "Arial", "sans-serif";
}


html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}


body {
	background: url('../img/twitter-bg.png') no-repeat;
	background-color: #C0DEED;

	main {
		margin: 50px auto 0 auto;
		width: 80%;
		overflow: auto;
	}
}


header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 1px 0px #aaa;

	div#header-inner {
		margin: 0 auto;
		padding: 6px 0;
		width: 80%;
		overflow: auto;

		h1 {
			display: inline-block;
			padding: 4px 0;
			font-size: 17px;
			color: #66757f;
		}
		button {
			float: right;
			padding: 3px 5px;
			width: 60px;
			font-size: 9px;
			color: #fff;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}
		button:hover {
			opacity: 0.9;
		}
		button:nth-child(2) {
			margin-right: 3px;
			background-color: #0084B4;
			border: 1px solid #1370B4;
		}
		button:nth-child(3) {
			margin-right: 10px;
			background-color: #FFAC33;
			border: 1px solid #FF9B36;
		}
	}
}


section#sidebar {
	float: left;
	margin-right: 15px;
	padding: 10px;
	width: 250px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid rgb(235, 235, 235);
	overflow-y: scroll;

	h4 {
		font-size: 13px;
		color: #555;
	}
	ul {
		margin: 5px 0;
		padding-left: 15px;
		list-style: none;

		li {
			padding: 4px 0;
			font-size: 12px;
			color: #0084B4;
			cursor: pointer;
		}
		li:hover {
			background-color: #f5f5f5;
		}
	}
}


section#main {
	float: left;
	width: calc(100% - 250px - 39px);

	div.best-dressed {
		margin-bottom: 15px;
		border: 1px solid rgb(235, 235, 235);
		border-radius: 5px;

		h1 {
			padding: 15px;
			font-weight: normal;
			font-size: 20px;
			color: #66757f;
			background-color: #fff;
			border-bottom: 1px solid #e1e8ed;
		}
		div#best-dressed-images {
			padding: 15px;
			background-color: #f9f9f9;
			border-radius: 0 0 5px 5px;

			h2, h3 {
				color: #444;
			}
			h2 {
				font-size: 18px;
			}
			h3 {
				font-size: 13px;
			}
		}
	}
}
@media(min-width: 1300px) {
	section#main {
		margin-right: 15px;
		width: calc(100% - 250px - 200px - 76px);
	}
}


div#content {
	border: 1px solid rgb(235, 235, 235);
	border-radius: 5px;

	div.data {
		padding: 15px;
		background-color: #fff;
		border-bottom: 1px solid #e1e8ed;
		overflow: auto;

		h2.dataaward {
			font-size: 16px;
			color: #555;
		}
		ul, ol {
			float: left;
			margin-right: 50px;
			width: calc((100% / 3) - 50px);

			h3.awardcategory {
				margin-top: 8px;
				margin-bottom: 3px;
				font-weight: normal;
				font-size: 14px;
				color: #555;

				i {
					margin-right: 5px;
					font-size: 13px;
				}
			}
			li {
				font-size: 12px;
				color: #555;
			}
		}
		ul.winner {
			// width: 80px;
			list-style: none;

			i {
				color: #FFAC33;
			}
		}
		ol.nominees {
			// width: 130px;

			li {
				margin-left: 17px;
			}
		}
		ul.presenters {
			// width: 100px;
		}
	}
	div.data:hover {
		background-color: #F7FCFC;
	}
	div.data:first-child {
		border-radius: 4px 4px 0 0;
	}
}


section#creators {
	display: none;
	float: left;
	padding: 10px;
	width: 200px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid rgb(235, 235, 235);

	h2 {
		font-size: 16px;
		color: #555;
	}
	ul {
		padding-left: 15px;
		list-style: none;
		font-size: 12px;
		color: #666;
	}
}
@media(min-width: 1300px) {
	section#creators {
		display: block;
	}
}


