html, body {
  font-family: "Helvetica Neue", "Arial", "sans-serif"; }

html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

body {
  background: url("../img/twitter-bg.png") no-repeat;
  background-color: #C0DEED; }
  body main {
    margin: 50px auto 0 auto;
    width: 80%;
    overflow: auto; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 0px #aaa; }
  header div#header-inner {
    margin: 0 auto;
    padding: 6px 0;
    width: 80%;
    overflow: auto; }
    header div#header-inner h1 {
      display: inline-block;
      padding: 4px 0;
      font-size: 17px;
      color: #66757f; }
    header div#header-inner button {
      float: right;
      padding: 3px 5px;
      width: 60px;
      font-size: 9px;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    header div#header-inner button:hover {
      opacity: 0.9; }
    header div#header-inner button:nth-child(2) {
      margin-right: 3px;
      background-color: #0084B4;
      border: 1px solid #1370B4; }
    header div#header-inner button:nth-child(3) {
      margin-right: 10px;
      background-color: #FFAC33;
      border: 1px solid #FF9B36; }

section#sidebar {
  float: left;
  margin-right: 15px;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  overflow-y: scroll; }
  section#sidebar h4 {
    font-size: 13px;
    color: #555; }
  section#sidebar ul {
    margin: 5px 0;
    padding-left: 15px;
    list-style: none; }
    section#sidebar ul li {
      padding: 4px 0;
      font-size: 12px;
      color: #0084B4;
      cursor: pointer; }
    section#sidebar ul li:hover {
      background-color: #f5f5f5; }

section#main {
  float: left;
  width: calc(100% - 250px - 39px);
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 5px; }
  section#main h1 {
    padding: 15px;
    font-weight: normal;
    font-size: 20px;
    color: #66757f;
    background-color: #E5F2F7;
    border-bottom: 1px solid #e1e8ed; }
  section#main div#best-dressed-images {
    padding: 15px;
    border-bottom: 1px solid #e1e8ed; }
    section#main div#best-dressed-images h2, section#main div#best-dressed-images h3 {
      color: #444; }
    section#main div#best-dressed-images h2 {
      font-size: 20px; }
    section#main div#best-dressed-images h3 {
      font-size: 15px; }

@media (min-width: 1300px) {
  section#main {
    margin-right: 15px;
    width: calc(100% - 250px - 200px - 76px); } }
div#content div.data {
  padding: 15px;
  border-bottom: 1px solid #e1e8ed;
  overflow: auto; }
  div#content div.data h2.dataaward {
    font-size: 16px;
    color: #555; }
  div#content div.data ul, div#content div.data ol {
    float: left;
    margin-right: 50px; }
    div#content div.data ul h3.awardcategory, div#content div.data ol h3.awardcategory {
      margin-top: 8px;
      font-size: 14px;
      color: #666; }
      div#content div.data ul h3.awardcategory i, div#content div.data ol h3.awardcategory i {
        margin-right: 5px;
        font-size: 13px; }
    div#content div.data ul li, div#content div.data ol li {
      font-size: 12px;
      color: #555; }
  div#content div.data ul.winner {
    width: 80px;
    list-style: none; }
  div#content div.data ol.nominees {
    width: 130px; }
    div#content div.data ol.nominees li {
      margin-left: 17px; }
  div#content div.data ul.presenters {
    width: 100px; }
div#content div.data:hover {
  background-color: #F7FCFC; }

section#creators {
  display: none;
  float: left;
  padding: 10px;
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ebebeb; }
  section#creators h2 {
    font-size: 16px;
    color: #555; }
  section#creators ul {
    padding-left: 15px;
    list-style: none;
    font-size: 12px;
    color: #666; }

@media (min-width: 1300px) {
  section#creators {
    display: block; } }

/*# sourceMappingURL=style.css.map */
