html, body {
  font-family: "Helvetica Neue", "Arial", "sans-serif"; }

html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

body {
  background: url("../img/twitter-bg.png") no-repeat;
  background-color: #C0DEED; }
  body main {
    margin: 50px auto 0 auto;
    width: 80%;
    overflow: auto; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 0px #aaa;
  z-index: 100; }
  header div#header-inner {
    margin: 0 auto;
    padding: 6px 0;
    width: 80%;
    overflow: auto; }
    header div#header-inner h1 {
      display: inline-block;
      padding: 4px 0;
      font-size: 17px;
      color: #66757f; }
    header div#header-inner button {
      float: right;
      padding: 3px 5px;
      width: 60px;
      font-size: 9px;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer; }
    header div#header-inner button:hover {
      opacity: 0.9; }
    header div#header-inner button:nth-child(2) {
      margin-right: 3px;
      background-color: #0084B4;
      border: 1px solid #1370B4; }
    header div#header-inner button:nth-child(3) {
      margin-right: 10px;
      background-color: #FFAC33;
      border: 1px solid #FF9B36; }

section#sidebar {
  float: left;
  margin-right: 15px;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  overflow-y: scroll; }
  section#sidebar h4 {
    font-size: 13px;
    color: #555; }
  section#sidebar ul {
    margin: 5px 0;
    padding-left: 15px;
    list-style: none; }
    section#sidebar ul li {
      padding: 4px 0;
      font-size: 12px;
      color: #0084B4;
      cursor: pointer; }
    section#sidebar ul li:hover {
      background-color: #f5f5f5; }

section#main {
  float: left;
  width: calc(100% - 250px - 39px); }
  section#main div.best-dressed {
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
    border-radius: 5px; }
    section#main div.best-dressed h1 {
      padding: 15px;
      font-weight: normal;
      font-size: 20px;
      color: #66757f;
      background-color: #fff;
      border-bottom: 1px solid #e1e8ed; }
    section#main div.best-dressed div#best-dressed-images {
      padding: 15px;
      background-color: #f9f9f9;
      border-radius: 0 0 5px 5px; }
      section#main div.best-dressed div#best-dressed-images h2, section#main div.best-dressed div#best-dressed-images h3 {
        color: #444; }
      section#main div.best-dressed div#best-dressed-images h2 {
        font-size: 18px; }
      section#main div.best-dressed div#best-dressed-images h3 {
        font-size: 13px; }

@media (min-width: 1300px) {
  section#main {
    margin-right: 15px;
    width: calc(100% - 250px - 200px - 76px); } }
div#content {
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
  border-radius: 5px; }
  div#content div.data {
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #e1e8ed;
    overflow: auto; }
    div#content div.data h2.award-name {
      display: inline-block;
      width: 65%;
      font-size: 14px;
      color: #555; }
    div#content div.data h3.winner {
      float: right;
      width: 30%;
      text-align: right;
      font-size: 14px;
      color: #555; }
      div#content div.data h3.winner i {
        display: inline-block;
        margin-right: 5px;
        color: #FFAC33; }
    div#content div.data h4.presenters {
      margin-top: 5px;
      font-weight: normal;
      font-size: 13px;
      color: #666; }
      div#content div.data h4.presenters i {
        margin-right: 6px;
        font-size: 12px; }
    div#content div.data ul.nominees {
      margin-top: 15px;
      list-style: none; }
      div#content div.data ul.nominees h3.awardcategory {
        font-weight: normal;
        font-size: 13px;
        color: #666; }
        div#content div.data ul.nominees h3.awardcategory i {
          margin-right: 5px;
          font-size: 13px; }
      div#content div.data ul.nominees li {
        display: inline-block;
        margin-right: 5px;
        font-size: 12px;
        color: #347291; }
      div#content div.data ul.nominees li:after {
        content: ","; }
      div#content div.data ul.nominees li:last-child:after {
        content: ""; }
  div#content div.data:hover {
    background-color: #F7FCFC; }
  div#content div.data:first-child {
    border-radius: 4px 4px 0 0; }
  div#content div.data:last-child {
    border-bottom: none; }

section#creators {
  display: none;
  float: left;
  padding: 10px;
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ebebeb; }
  section#creators h2 {
    font-size: 16px;
    color: #555; }
  section#creators ul {
    padding-left: 15px;
    list-style: none;
    font-size: 12px;
    color: #666; }

@media (min-width: 1300px) {
  section#creators {
    display: block; } }

/*# sourceMappingURL=style.css.map */
