<html>
	<head>
		<link rel="stylesheet" href="static/css/index.css">
		<link rel="stylesheet" href="static/css/foundation.min.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   		<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
     	<script type="text/javascript" src="static/js/jquery.js"></script>
     	<script type="text/javascript" src="static/js/foundation.min.js"></script>
     	<script type="text/javascript" src="static/js/submit.js"></script>

	</head>

	<body>
	{% block body %}

	{% endblock %}
	<script>
		$(document).foundation();
	</script>
	</body>

</html>