{% extends "layout.html" %}
{% block body %}

<div id="sidebar" class="large-3 columns">
  <h1>Menu</h1>
	<button id="host">Host</button>
	<button class="awards all" id="all">All Awards</button>
	<div class="row">
		<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown small-centered large-centered">Choose an award</button><br>
		<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
			<li><a href='#' class= "awards" id="Best Motion Picture - Drama"> Best Motion Picture - Drama</a></li></a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actress in a Motion Picture - Drama"> Best Performance by an Actress in a Motion Picture - Drama</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actor in a Motion Picture - Drama">Best Performance by an Actor in a Motion Picture - Drama</a></li>
			<li><a href='#' class= "awards" id="Best Motion Picture - Comedy Or Musical"> Best Motion Picture - Comedy Or Musical</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actress in a Motion Picture - Comedy Or Musical"> Best Performance by an Actress in a Motion Picture - Comedy Or Musical</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actor in a Motion Picture - Comedy Or Musical"> Best Performance by an Actor in a Motion Picture - Comedy Or Musical</a></li>
			<li><a href='#' class= "awards" id="Best Animated Feature Film"> Best Animated Feature Film</a></li>
			<li><a href='#' class= "awards" id="Best Foreign Language Film"> Best Foreign Language Film</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actress In A Supporting Role in a Motion Picture"> Best Performance by an Actress In A Supporting Role in a Motion Picture</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actor In A Supporting Role in a Motion Picture">Best Performance by an Actor In A Supporting Role in a Motion Picture</a></li>
			<li><a href='#' class= "awards" id="Best Director - Motion Picture"> Best Director - Motion Picture</a></li>
			<li><a href='#' class= "awards" id="Best Screenplay - Motion Picture"> Best Screenplay - Motion Picture</a></li>
			<li><a href='#' class= "awards" id="Best Original Score - Motion Picture"> Best Original Score - Motion Picture</a></li>
			<li><a href='#' class= "awards" id="Best Original Song - Motion Picture">Best Original Song - Motion Picture</a></li>
			<li><a href='#' class= "awards" id="Best Television Series - Drama"> Best Television Series - Drama</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actress In A Television Series - Drama">Best Performance by an Actress In A Television Series - Drama</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actor In A Television Series - Drama"> Best Performance by an Actor In A Television Series - Drama</a></li>
			<li><a href='#' class= "awards" id="Best Television Series - Comedy Or Musical">Best Television Series - Comedy Or Musical</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actress In A Television Series - Comedy Or Musical">Best Performance by an Actress In A Television Series - Comedy Or Musical </a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actor In A Television Series - Comedy Or Musical"> Best Performance by an Actor In A Television Series - Comedy Or Musical</a></li>
			<li><a href='#' class= "awards" id="Best Mini-Series Or Motion Picture Made for Television"> Best Mini-Series Or Motion Picture Made for Television</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actress In A Mini-series or Motion Picture Made for Television"> Best Performance by an Actress In A Mini-series or Motion Picture Made for Television</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actor in a Mini-Series or Motion Picture Made for Television">Best Performance by an Actor in a Mini-Series or Motion Picture Made for Television </a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actress in a Supporting Role in a Series, Mini-Series or Motion Picture Made for Television"> Best Performance by an Actress in a Supporting Role in a Series, Mini-Series or Motion Picture Made for Television</a></li>
			<li><a href='#' class= "awards" id="Best Performance by an Actor in a Supporting Role in a Series, Mini-Series or Motion Picture Made for Television">Best Performance by an Actor in a Supporting Role in a Series, Mini-Series or Motion Picture Made for Television</a></li>
			<li><a href='#' class= "awards" id="Cecil B. DeMille Award">Cecil B. DeMille Award</a></li>
		</ul>
	</div>

	</ul>
</div>

<div id="main-content" class="large-9 columns">
  <h1>Golden Tweet Processing</h1>
  <button class="submit" id="2013">Start processing 2013 data</button>
  <button class="submit" id="2015">Start processing 2015 data</button>
  <div class="load_wrapper">
  	<div class="loader"></div>
	</div>
  <div id="content"></div>
  <script type="text/jsx;harmony=true" src="static/js/react_test.js"></script>
</div>

{% endblock %}